In [4]:
import pandas as pd
dp = r'C:\Users\lucas\Downloads\FYM\Compiled Daytona.csv'
sp = r'C:\Users\lucas\Downloads\FYM\Compiled Sebring.csv'
wp = r'C:\Users\lucas\Downloads\FYM\Compiled Watkins Glen.csv'
ap = r'C:\Users\lucas\Downloads\FYM\Compiled Road Atlanta.csv'

s = pd.read_csv(sp)
w = pd.read_csv(wp)
d = pd.read_csv(dp)
a = pd.read_csv(ap)
s.head()

,Year,Car,Position,Lap,Gap Before Pit,Laps Until Front Car Pit,Stint,Front Car Stint,Passed
0,2022,96.0,5,82.0,2.979,0.0,23.5,24.5,0
1,2022,96.0,4,99.0,1.654,0.0,13.5,13.0,1
2,2022,96.0,4,149.0,3.950,0.0,20.0,21.0,1
3,2022,96.0,3,163.0,2.457,0.0,11.0,11.0,0
4,2022,96.0,7,187.0,1.818,0.0,19.5,19.5,1

In [2]:
combined = pd.concat([d, s, w, a], ignore_index=True)

In [5]:
combined.to_csv(r'C:\Users\lucas\Downloads\FYM\Compiled.csv')